.editModal-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 450px;
}

.editModal-inputContainer {
    display: flex;
    flex-direction: column;
}

.editModal-title  {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

input  {
    width: -webkit-fill-available;
    border: none;
    border-bottom: 1px solid #757577;
}

input:hover, input:focus {
    outline: none;
}

.editModal-buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.editModal-footer {
    display: flex;
    flex-direction: column;
}

.editModal-alert {
    margin-top: 20px;
    margin-bottom: 20px;

}

.editModal-image {
    margin-top: 10px;
    width: 230px;
    height: 300px;
    border-radius: 5px;
}

@media all and (max-width: 767px)  {
    .editModal-container {
        height: 300px;
    }
    
    .editModal-title {
        font-size: 16px;
    }

    .editModal-text {
        font-size: 12px;
    }

    .editModal-image {
        width: 100px;
        height: 130px;
    }
}