.home-container {
    display: flex;
    flex-direction: column;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-grid {
    background-color: #F3F3F3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 15px;
}

.addCircle {
    position: absolute;
    left: 95%;
    font-size: 40px!important;
}

.home-loader {
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    position: absolute;
}

.circular-loader {
    color: #00CCF8!important;
}

@media all and (max-width: 1280px) {
    .home-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .addCircle {
        font-size: 30px!important;
    }
}

@media all and (max-width: 767px)  {
    .home-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .addCircle {
        font-size: 30px!important;
    }
}